*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Permanent Marker', cursive;
    
}

.red, .green, .yellow{
    height: 100vh;
    text-align: center;
    color: white;
    line-height: 100vh;
    font-size: 32px;
}

.red{
    background-color: red;
    position: relative;
}

.green{
    background-color: green;
    position: relative;
}

.yellow{
    background-color: yellow;
    position: relative;
}

/* NAV position */
.nav-fix {
    padding: 40px;
    position: fixed;
    margin-left: 20px;
    line-height: 80px;
    top: 0;
    right: 0;
    z-index: 1001;
}

/* NAV style */
.nav-item{
    background-color: rgba(255, 255, 255, 0.9);
    width: 40px;
    color: black;
    display: inline-block;
    margin-left: 10px;
    font-size:x-large;
    text-align: center;
    line-height: 40px;
    border-radius: 100%;
}


.img{
    background-repeat: no-repeat;
    height: 533px;
    width: 800px;
    background-position:0px -50px ;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    
}

/* background immage and text color */
.red .img{
    background-image: url(../img/01.png);
    color: yellow;
}

.green .img{
    background-image: url(../img/02.png);
    color: yellow;
}

.yellow .img{
    background-image: url(../img/03.png);
    color: green;
}